APP_NAME=Donation Platform

APP_ENV=development

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=donation_platform
MYSQL_USERNAME=root
MYSQL_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

JWT_SECRET=your-secret-key